In [1]:
import polars as pl

In [6]:
df_c = pl.read_csv('~/CIS_4496_Project/data/raw/customers.csv')

In [4]:
df_c.head()

shape: (5, 7)
┌───────────────────┬──────┬────────┬──────────────────┬──────────────────┬─────┬──────────────────┐
│ customer_id       ┆ FN   ┆ Active ┆ club_member_stat ┆ fashion_news_fre ┆ age ┆ postal_code      │
│ ---               ┆ ---  ┆ ---    ┆ us               ┆ quency           ┆ --- ┆ ---              │
│ str               ┆ f64  ┆ f64    ┆ ---              ┆ ---              ┆ i64 ┆ str              │
│                   ┆      ┆        ┆ str              ┆ str              ┆     ┆                  │
╞═══════════════════╪══════╪════════╪══════════════════╪══════════════════╪═════╪══════════════════╡
│ 00000dbacae5abe5e ┆ null ┆ null   ┆ ACTIVE           ┆ NONE             ┆ 49  ┆ 52043ee2162cf5aa │
│ 23885899a1fa442.. ┆      ┆        ┆                  ┆                  ┆     ┆ 7ee79974281641c6 │
│ .                 ┆      ┆        ┆                  ┆                  ┆     ┆ ...              │
│ 0000423b00ade9141 ┆ null ┆ null   ┆ ACTIVE           ┆ NONE             ┆ 25  ┆ 2973abc54daa8a5f │
│ 8cceaf3b26c6af3.. ┆      ┆        ┆                  ┆                  ┆     ┆ 8ccfe9362140c632 │
│ .                 ┆      ┆        ┆                  ┆                  ┆     ┆ ...              │
│ 000058a12d5b43e67 ┆ null ┆ null   ┆ ACTIVE           ┆ NONE             ┆ 24  ┆ 64f17e6a330a8579 │
│ d225668fa1f8d61.. ┆      ┆        ┆                  ┆                  ┆     ┆ 8e4998f62d0930d1 │
│ .                 ┆      ┆        ┆                  ┆                  ┆     ┆ ...              │
│ 00005ca1c9ed5f514 ┆ null ┆ null   ┆ ACTIVE           ┆ NONE             ┆ 54  ┆ 5d36574f52495e81 │
│ 6b52ac8639a40ca.. ┆      ┆        ┆                  ┆                  ┆     ┆ f019b680c843c443 │
│ .                 ┆      ┆        ┆                  ┆                  ┆     ┆ ...              │
│ 00006413d8573cd20 ┆ 1.0  ┆ 1.0    ┆ ACTIVE           ┆ Regularly        ┆ 52  ┆ 25fa5ddee9aac01b │
│ ed7128e53b7b138.. ┆      ┆        ┆                  ┆                  ┆     ┆ 35208d01736e5794 │
│ .                 ┆      ┆        ┆                  ┆                  ┆     ┆ ...              │
└───────────────────┴──────┴────────┴──────────────────┴──────────────────┴─────┴──────────────────┘

In [8]:
submission = pl.DataFrame(schema={"customer_id": pl.list, "prediction"})

SyntaxError: invalid syntax (1470642642.py, line 1)

In [14]:
submission.insert_at_idx(submission.height)

ValueError: Series constructor called with unsupported type; got <class 'float'>

In [5]:
test = pl.Series()
test

shape: (0,)
Series: '' [f32]
[
]

In [37]:
test = pl.DataFrame([["temp"], [['temp']]], schema={"customer_id": str , "articles": pl.List(inner=str)})
test

shape: (1, 2)
┌─────────────┬───────────┐
│ customer_id ┆ articles  │
│ ---         ┆ ---       │
│ str         ┆ list[str] │
╞═════════════╪═══════════╡
│ temp        ┆ ["temp"]  │
└─────────────┴───────────┘

In [55]:
temp = pl.DataFrame([["test"], [pl.Series(['test', 'temp'])]], schema={"customer_id": str , "articles": pl.List(inner=str)})
temp

shape: (1, 2)
┌─────────────┬──────────────────┐
│ customer_id ┆ articles         │
│ ---         ┆ ---              │
│ str         ┆ list[str]        │
╞═════════════╪══════════════════╡
│ test        ┆ ["test", "temp"] │
└─────────────┴──────────────────┘

In [46]:
test.vstack(temp)

shape: (2, 2)
┌─────────────┬───────────┐
│ customer_id ┆ articles  │
│ ---         ┆ ---       │
│ str         ┆ list[str] │
╞═════════════╪═══════════╡
│ temp        ┆ ["temp"]  │
│ test        ┆ ["test"]  │
└─────────────┴───────────┘

In [56]:
[pl.Series(['test', 'temp'])]

[shape: (2,)
 Series: '' [str]
 [
 	"test"
 	"temp"
 ]]