In [19]:
import polars as pl

In [20]:
df_c = pl.read_csv('~/CIS_4496_Project/data/raw/customers.csv')
df_a = pl.read_csv('~/CIS_4496_Project/data/raw/articles.csv')

In [21]:
df_c.head()

shape: (5, 7)
┌───────────────────┬──────┬────────┬──────────────────┬──────────────────┬─────┬──────────────────┐
│ customer_id       ┆ FN   ┆ Active ┆ club_member_stat ┆ fashion_news_fre ┆ age ┆ postal_code      │
│ ---               ┆ ---  ┆ ---    ┆ us               ┆ quency           ┆ --- ┆ ---              │
│ str               ┆ f64  ┆ f64    ┆ ---              ┆ ---              ┆ i64 ┆ str              │
│                   ┆      ┆        ┆ str              ┆ str              ┆     ┆                  │
╞═══════════════════╪══════╪════════╪══════════════════╪══════════════════╪═════╪══════════════════╡
│ 00000dbacae5abe5e ┆ null ┆ null   ┆ ACTIVE           ┆ NONE             ┆ 49  ┆ 52043ee2162cf5aa │
│ 23885899a1fa442.. ┆      ┆        ┆                  ┆                  ┆     ┆ 7ee79974281641c6 │
│ .                 ┆      ┆        ┆                  ┆                  ┆     ┆ ...              │
│ 0000423b00ade9141 ┆ null ┆ null   ┆ ACTIVE           ┆ NONE             ┆ 25  ┆ 2973abc54daa8a5f │
│ 8cceaf3b26c6af3.. ┆      ┆        ┆                  ┆                  ┆     ┆ 8ccfe9362140c632 │
│ .                 ┆      ┆        ┆                  ┆                  ┆     ┆ ...              │
│ 000058a12d5b43e67 ┆ null ┆ null   ┆ ACTIVE           ┆ NONE             ┆ 24  ┆ 64f17e6a330a8579 │
│ d225668fa1f8d61.. ┆      ┆        ┆                  ┆                  ┆     ┆ 8e4998f62d0930d1 │
│ .                 ┆      ┆        ┆                  ┆                  ┆     ┆ ...              │
│ 00005ca1c9ed5f514 ┆ null ┆ null   ┆ ACTIVE           ┆ NONE             ┆ 54  ┆ 5d36574f52495e81 │
│ 6b52ac8639a40ca.. ┆      ┆        ┆                  ┆                  ┆     ┆ f019b680c843c443 │
│ .                 ┆      ┆        ┆                  ┆                  ┆     ┆ ...              │
│ 00006413d8573cd20 ┆ 1.0  ┆ 1.0    ┆ ACTIVE           ┆ Regularly        ┆ 52  ┆ 25fa5ddee9aac01b │
│ ed7128e53b7b138.. ┆      ┆        ┆                  ┆                  ┆     ┆ 35208d01736e5794 │
│ .                 ┆      ┆        ┆                  ┆                  ┆     ┆ ...              │
└───────────────────┴──────┴────────┴──────────────────┴──────────────────┴─────┴──────────────────┘

In [13]:
df_a.head()

shape: (5, 25)
┌──────────┬────────────┬─────────┬────────────┬─────┬────────────┬────────────┬────────────┬───────────┐
│ article_ ┆ product_co ┆ prod_na ┆ product_ty ┆ ... ┆ section_na ┆ garment_gr ┆ garment_gr ┆ detail_de │
│ id       ┆ de         ┆ me      ┆ pe_no      ┆     ┆ me         ┆ oup_no     ┆ oup_name   ┆ sc        │
│ ---      ┆ ---        ┆ ---     ┆ ---        ┆     ┆ ---        ┆ ---        ┆ ---        ┆ ---       │
│ i64      ┆ i64        ┆ str     ┆ i64        ┆     ┆ str        ┆ i64        ┆ str        ┆ str       │
╞══════════╪════════════╪═════════╪════════════╪═════╪════════════╪════════════╪════════════╪═══════════╡
│ 10877501 ┆ 108775     ┆ Strap   ┆ 253        ┆ ... ┆ Womens     ┆ 1002       ┆ Jersey     ┆ Jersey    │
│ 5        ┆            ┆ top     ┆            ┆     ┆ Everyday   ┆            ┆ Basic      ┆ top with  │
│          ┆            ┆         ┆            ┆     ┆ Basics     ┆            ┆            ┆ narrow    │
│          ┆            ┆         ┆            ┆     ┆            ┆            ┆            ┆ shoulder  │
│          ┆            ┆         ┆            ┆     ┆            ┆            ┆            ┆ ...       │
│ 10877504 ┆ 108775     ┆ Strap   ┆ 253        ┆ ... ┆ Womens     ┆ 1002       ┆ Jersey     ┆ Jersey    │
│ 4        ┆            ┆ top     ┆            ┆     ┆ Everyday   ┆            ┆ Basic      ┆ top with  │
│          ┆            ┆         ┆            ┆     ┆ Basics     ┆            ┆            ┆ narrow    │
│          ┆            ┆         ┆            ┆     ┆            ┆            ┆            ┆ shoulder  │
│          ┆            ┆         ┆            ┆     ┆            ┆            ┆            ┆ ...       │
│ 10877505 ┆ 108775     ┆ Strap   ┆ 253        ┆ ... ┆ Womens     ┆ 1002       ┆ Jersey     ┆ Jersey    │
│ 1        ┆            ┆ top (1) ┆            ┆     ┆ Everyday   ┆            ┆ Basic      ┆ top with  │
│          ┆            ┆         ┆            ┆     ┆ Basics     ┆            ┆            ┆ narrow    │
│          ┆            ┆         ┆            ┆     ┆            ┆            ┆            ┆ shoulder  │
│          ┆            ┆         ┆            ┆     ┆            ┆            ┆            ┆ ...       │
│ 11006500 ┆ 110065     ┆ OP      ┆ 306        ┆ ... ┆ Womens     ┆ 1017       ┆ Under-,    ┆ Microfibr │
│ 1        ┆            ┆ T-shirt ┆            ┆     ┆ Lingerie   ┆            ┆ Nightwear  ┆ e T-shirt │
│          ┆            ┆ (Idro)  ┆            ┆     ┆            ┆            ┆            ┆ bra with  │
│          ┆            ┆         ┆            ┆     ┆            ┆            ┆            ┆ unde...   │
│ 11006500 ┆ 110065     ┆ OP      ┆ 306        ┆ ... ┆ Womens     ┆ 1017       ┆ Under-,    ┆ Microfibr │
│ 2        ┆            ┆ T-shirt ┆            ┆     ┆ Lingerie   ┆            ┆ Nightwear  ┆ e T-shirt │
│          ┆            ┆ (Idro)  ┆            ┆     ┆            ┆            ┆            ┆ bra with  │
│          ┆            ┆         ┆            ┆     ┆            ┆            ┆            ┆ unde...   │
└──────────┴────────────┴─────────┴────────────┴─────┴────────────┴────────────┴────────────┴───────────┘

In [14]:
# submission = pl.DataFrame([['1', '2']], schema={"customer_id": str})
submission = df_c.select('customer_id')
# submission.insert_at_idx(submission.width, pl.Series('prediction', ['test', 'temp']))
submission

shape: (1371980, 1)
┌─────────────────────────────────────┐
│ customer_id                         │
│ ---                                 │
│ str                                 │
╞═════════════════════════════════════╡
│ 00000dbacae5abe5e23885899a1fa442... │
│ 0000423b00ade91418cceaf3b26c6af3... │
│ 000058a12d5b43e67d225668fa1f8d61... │
│ 00005ca1c9ed5f5146b52ac8639a40ca... │
│ ...                                 │
│ ffffcd5046a6143d29a04fb8c424ce49... │
│ ffffcf35913a0bee60e8741cb2b4e78b... │
│ ffffd7744cebcf3aca44ae7049d2a94b... │
│ ffffd9ac14e89946416d80e791d06470... │
└─────────────────────────────────────┘

In [42]:
predictions = pl.Series('prediction', dtype=pl.List(inner=pl.Int64))
predictions

shape: (0,)
Series: 'prediction' [list[i64]]
[
]

In [38]:
predictions.append(df_a.select('article_id').sample(n=12, seed=9).get_column('article_id'))

SchemaError: cannot append Series; data types don't match

In [34]:
[df_a.select('article_id').sample(n=12, seed=9).get_column('article_id')]

[shape: (12,)
 Series: 'article_id' [i64]
 [
 	589924009
 	577062002
 	827838005
 	775191001
 	594393001
 	735724008
 	575471001
 	543548002
 	545396009
 	641748029
 	827606003
 	633262001
 ]]

In [16]:
test = pl.Series(['test', 'temp'])
test.append(pl.Series(['test']))

shape: (3,)
Series: '' [str]
[
	"test"
	"temp"
	"test"
]

In [37]:
test = pl.DataFrame([["temp"], [['temp']]], schema={"customer_id": str , "articles": pl.List(inner=str)})
test

shape: (1, 2)
┌─────────────┬───────────┐
│ customer_id ┆ articles  │
│ ---         ┆ ---       │
│ str         ┆ list[str] │
╞═════════════╪═══════════╡
│ temp        ┆ ["temp"]  │
└─────────────┴───────────┘

In [55]:
temp = pl.DataFrame([["test"], [pl.Series(['test', 'temp'])]], schema={"customer_id": str , "articles": pl.List(inner=str)})
temp

shape: (1, 2)
┌─────────────┬──────────────────┐
│ customer_id ┆ articles         │
│ ---         ┆ ---              │
│ str         ┆ list[str]        │
╞═════════════╪══════════════════╡
│ test        ┆ ["test", "temp"] │
└─────────────┴──────────────────┘

In [46]:
test.vstack(temp)

shape: (2, 2)
┌─────────────┬───────────┐
│ customer_id ┆ articles  │
│ ---         ┆ ---       │
│ str         ┆ list[str] │
╞═════════════╪═══════════╡
│ temp        ┆ ["temp"]  │
│ test        ┆ ["test"]  │
└─────────────┴───────────┘

In [56]:
[pl.Series(['test', 'temp'])]

[shape: (2,)
 Series: '' [str]
 [
 	"test"
 	"temp"
 ]]